@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

li:first-child a {
  color: #fff;
  background-color: #0074d9;
  padding: .65rem;
  text-decoration: none;
}

li:nth-child(2) a {
  color: #0074d9;
  padding: .65rem;
  text-decoration: none;
}

li:last-child a {
  color: #0074d9;
  padding: .65rem;
  text-decoration: none;
}

li a:hover {
  color: #fff;
  background-color: #0074d9;
}
